<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MiniTest 📝</title>
</head>
<body style="font-family:sans-serif; text-align:center;">
    <h1>MiniTest 📝</h1>
    <form method="POST">
            {% for i in range(preguntas|length) %}
            <div style="margin-bottom:20px;">
                <h3>{{ preguntas[i].pregunta }}</h3>
                {% for opcion in preguntas[i].opciones %}
                    <label>
                        <input type="radio" name="pregunta{{ i }}" value="{{ opcion }}" required>
                        {{ opcion }}
                    </label><br>
                {% endfor %}
            </div>
            {% endfor %}

        <button type="submit">Enviar respuestas</button>
            <br><br>
            <h2 style="color: #333;">¿Quieres probar otra funcionalidad de la API?</h2>
            <a href="/estadisticas">
                <button type="button">Ir a Estadísticas de Texto 🔍</button>
            </a>


    </form>
</body>
</html>
